{% extends "able/base.html" %}

{% block content %}

    <h1>Your ADHD Helper</h1>

    <div class="form-floating">

        <form id="ask-form" action="" method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- The `label` is attached to the hidden file input -->
            <label for="cameraFileInput">
                <span class="btn btn-primary">Click to open your camera</span>

                <!-- The hidden file `input` for opening the native camera -->
                <input
                    id="cameraFileInput"
                    type="file"
                    accept="image/*"
                    capture="environment",
                    name="thefile",
                    style="display: none;"
                />
            </label>

            <img id="pictureFromCamera" style="max-width: 100%;" />

        </form>

        <script type="text/javascript">
            document
              .getElementById("cameraFileInput")
              .addEventListener("change", function () {
                document.getElementById("pictureFromCamera").setAttribute("src", window.URL.createObjectURL(this.files[0]));
                document.getElementById("ask-form").submit();
              });
        </script>

        {% if extracted_text %}

            <br>
            <h4>Original text</h4>
            {{ extracted_text|safe }}
            <br>
            <h4>Formatted text</h4>
            {{ formatted_text|safe }}
            <br>
            <h4>Formatted summary text</h4>
            {{ formatted_summary_text|safe }}

        {% endif %}

    </div>

{% endblock %}
